<div id="footer" class="bg-dark">
    <div class="container">
        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="text-center copytext">
                            &copy; 2021 ICTAK. All Rights Reserved.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>