
#footer {
    bottom: 0;
    width: 100%;
    position: relative;
    height: 60px;
    color: white;
}
#footer .footer-block {
    margin: 20px 0;
}

.copyright {
    padding: 12px 0;
}

.copytext {
    font-size: 15px;
}