<div id="main">
    <div class="fof">
        <p class="h1"><span class="badge text-light bg-dark">404</span> Page not found!</p>
        <hr>
        <button class="btn btn-danger" (click)="backClicked()">Return</button>
    </div>
</div>