<div class="container-fluid text-center">
    <div class="container">
        <div class="shadows" *ngFor="let item of 'ICTAK'.split('')"><span>{{item}}</span>
        </div>
        <p class="display-3 text-danger font-weight-bold">Our Alumni</p>
        <!--Testimonials-->
        <div class="container">
            <div class="row" *ngFor="let item of data">
                <div class="col">
                    <input class="toggle" id={{item._id}} type="checkbox">
                    <div class="social-share-wrap bg-dark">
                        <div class="cover">
                            <img class="image" src={{item.image_url}}>
                        </div>
                        <div class="content">
                            <label class="label" for={{item._id}}><i class="fa fa-share-alt"></i></label>
                            <div class="title"><b>{{item.name}}</b></div>
                            <div class="text text-light">{{item.description}}</div>
                            <hr>
                            <div class="text text-light font-weight-bold">{{item.role}} at {{item.organisation}}</div>

                        </div>
                        <div class="social-share-overlay">
                            <label class="close" for={{item._id}}>&times;</label>
                            <div class="social-share-links">
                                <a target="_blank"
                                    href="https://www.facebook.com/sharer/sharer.php?display=popup&u=http%3A%2F%2Fcodecanyon.net%2Fitem%2Fmk-flat-pricing-table%2F13404608%3Fref%3Dkhadkamhn"><i
                                        class="fa fa-facebook"></i> Facebook</a>
                                <a target="_blank"
                                    href="https://twitter.com/intent/tweet?text=Check+out+%27MK+Flat+Pricing+Table%27+on+%23EnvatoMarket+by+%40khadkamhn+%23codecanyon&url=http%3A%2F%2Fcodecanyon.net%2Fitem%2Fmk-flat-pricing-table%2F13404608%3Fref%3Dkhadkamhn"><i
                                        class="fa fa-twitter"></i> Twitter</a>
                                <a target="_blank"
                                    href="https://pinterest.com/pin/create/button?description=MK+Flat+Pricing+Table&media=http%3A%2F%2F0.s3.envato.com%2Ffiles%2F156087519%2Fmk_flat_price_table.png&url=http%3A%2F%2Fcodecanyon.net%2Fitem%2Fmk-flat-pricing-table%2F13404608%3Fref%3Dkhadkamhn"><i
                                        class="fa fa-pinterest"></i> Pinterest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>