.container-fluid {
    height: 100%;
    background-image: url("../../assets/img/homepage.jpg");
    background-size:cover;
}



.row {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
}
.container-fluid .subtext {
    color: black;
    font-style:oblique;
}

.shadows {
    display: inline-block;
position: relative;
text-transform: uppercase;
text-shadow: -15px 5px 20px rgb(112, 107, 107);
color: rgba(224, 162, 162, 0.945);
letter-spacing: -0.05em;
font-family: "Anton", Arial, sans-serif;
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
text-transform: uppercase;
font-size: 150px;
transition: all 0.25s ease-out;
}

.shadows:hover {
text-shadow: -16px 6px 15px rgba(201, 178, 178, 0.144);
}

/* card */

*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.toggle{
	display:none;
}
.social-share-wrap{
	width:300px;
	overflow:hidden;
	background:#fff;
	margin:10% auto 0;
	min-height:370px;
	border-radius:8px;
	position:relative;
	box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
}
.social-share-wrap .cover{
	width:100%;
	height:152px;
	background:#5DBCD2;
	opacity:1;
	transform:translateY(0);
	transition:all .6s ease-in-out .4s;
}
.social-share-wrap .cover .image{
	width:100%;
	opacity:.8;
}
.social-share-wrap .content{
	padding:15px;
	position:relative;
}
.social-share-wrap .content .title,
.social-share-wrap .content .text,
.social-share-wrap .content .price{
	opacity:1;
	transform:translateY(0);
	transition:all .6s ease-in-out .4s;
}
.social-share-wrap .content .label{
	top:-15px;
	right:15px;
	width:40px;
	height:40px;
	color:#eee;
	cursor:pointer;
	font-size:18px;
	line-height:40px;
	text-align:center;
	border-radius:50%;
	position:absolute;
	font-weight:normal;
	background:#34a3be;
	transform:scale(1);
	transition:all .3s ease-in-out .6s;
}
.social-share-wrap .content .title{
	margin-bottom:15px;
	text-transform:uppercase;
	transition-duration:.4s;
}
.social-share-wrap .content .text{
	display:block;
	line-height:24px;
	transition-duration:.6s;
}
.social-share-wrap .content .price{
	font-size:36px;
	font-weight:500;
	line-height:36px;
	margin:30px 0 15px;
	transition-duration:.8s;
}
.social-share-wrap .content .buy{
	right:15px;
	bottom:30px;
	padding:8px;
	color:inherit;
	font-weight:400;
	font-size:18px;
	position:absolute;
	text-decoration:none;
	text-transform:uppercase;
	transition:all .2s ease-in-out 0s;
}
.social-share-wrap .content .buy:hover{
	background:#ddd;
}

.social-share-wrap .social-share-overlay{
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:15px;
	position:absolute;
	transform:scale(0);
	transition:all .3s ease-in-out 0s;
}
.social-share-wrap .social-share-overlay:before{
	top:50%;
	left:50%;
	content:'';
	width:30em;
	height:30em;
	margin-top:-15em;
	border-radius:50%;
	margin-left:-15em;
	position:absolute;
	background:#77bef7;
	transform:inherit;
	transition:inherit;
}
.social-share-wrap .social-share-overlay .close{
	top:0;
	right:0;
	color:#eee;
	width:40px;
	height:40px;
	cursor:pointer;
	font-size:28px;
	font-weight:400;
	line-height:40px;
	text-align:center;
	position:absolute;
}
.social-share-wrap .social-share-overlay .social-share-links{
	position:relative;
}
.social-share-wrap .social-share-overlay .social-share-links a{
	opacity:0;
	color:#eee;
	margin:auto;
	max-width:75%;
	display:block;
	font-size:18px;
	margin-top:30px;
	line-height:24px;
	margin-bottom:30px;
	padding:10px 15px;
	border:2px solid;
	border-radius:25px;
	text-decoration:none;
	transition:all .4s ease-in-out 0s;
	transition-delay:.5s;
}
.social-share-wrap .social-share-overlay .social-share-links a:nth-child(1){
	transform:translateY(2em);
	transition-duration:.4s;
}
.social-share-wrap .social-share-overlay .social-share-links a:nth-child(2){
	transform:translateY(3em);
	transition-duration:.6s;
}
.social-share-wrap .social-share-overlay .social-share-links a:nth-child(3){
	transform:translateY(4em);
	transition-duration:.8s;
}
.social-share-wrap .social-share-overlay .social-share-links .fa{
	min-width:30px;
	font-size:24px;
}

.toggle:checked + .social-share-wrap .social-share-overlay{
	transform:scale(1);
}
.toggle:checked + .social-share-wrap .cover{
	opacity:0;
	transform:translateY(-100%);
}
.toggle:checked + .social-share-wrap .content .title,
.toggle:checked + .social-share-wrap .content .text,
.toggle:checked + .social-share-wrap .content .price{
	opacity:0;
	transform:translateY(100%);
}
.toggle:checked + .social-share-wrap .content .label{
	transform:scale(0);
}
.toggle:checked + .social-share-wrap .social-share-overlay a{
	opacity:1;
	transform:translateY(0);
}