<div class="container">
    <p class="course-header">Events</p>
    <a href="addevent" class="mr-1 btn btn-success">Add event <i class="fas fa-plus-circle"></i></a>
    <ul class=" list-group" *ngFor="let item of listEvents">
        <li class="">
            <p class="course-title">
                Event name: {{item.name}}
            </p>
            <div class="list-group-item-text lead">
                Organizer: {{item.orgranizer}}
                Contact: {{item.contact}}
            </div>
            <div class="mt-1 btn-toolbar pull-right" role="toolbar">
                <a href="{{'editevent/' + item._id}}" class="mr-1 btn btn-primary"><i class="far fa-edit"></i></a>
                <a href="{{'removeevent/' + item._id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </div>
            <hr>

        </li>
    </ul>
    <p class="course-header">Event registrations</p>
    <ul class="list-group" *ngFor="let item of registeredEvents">
        <li class="">
            <p class="course-title">
                Course ID: {{item.course_id}}
            </p>
            <div class="list-group-item-text lead">
                Phone: {{item.phone}}
                Email: {{item.email}}
            </div>
            <div class="btn-toolbar pull-right" role="toolbar">
                <a href="{{'removecoursereg/' + item._id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </div>
            <hr>

        </li>
    </ul>
</div>