.about {
  height: 100vh;
  color: white;
}

img {
  width: 200px;
  height: 200px;
}

img:hover {
  transform: scale(0.90);
}
/* stats

.statistics {
    width: 80%;
    height: 40vh;
    background-color: rebeccapurple;
    border-radius: 35px;
}

.row {
    padding-top: 10vh;
    background-color: rgb(92, 44, 139);
}


hr {
    border: 0;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  }
  
  .slash-3 {
    height: 10px;
    background-image: linear-gradient(45deg, rgba(13, 13, 13, 0), rgba(13, 13, 13, 0) 33.33%, #0d0d0d 33.33%, #0d0d0d 66.67%, rgba(13, 13, 13, 0) 66.67%, rgba(13, 13, 13, 0) 100%);
    background-size: 10px 100%;
    width: 250px;
  }

  .count {
      font-size: 20px;
  }

  .container {
    height: 100vh;
  }


  @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Sumana:wght@700&display=swap");

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;
}
.container:after {
  background-color: #f2f2f2;
  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.container:hover {
  transform: scale(0.54);
}
.container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
}
.circle {
  background-color: #fee7d3;
  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
}
.img {
  pointer-events: none;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container:hover .img {
  transform: translateY(0) scale(1.2);
}
*/