<div class="container-fluid about bg-secondary">
    <div class="container-fluid">
        <p class="display-3 text-center">About Us</p>
        <div class="text-center">
            <img src="https://i.ibb.co/MfXLy0K/ict.png" class="img-thumbnail" alt="...">
        </div>
        <blockquote class="blockquote text-center">
            Aimed at addressing the issue of youth unemployment in Kerala, NORKA Roots is providing an
            opportunity to study job-oriented new-generation courses with scholarship. NORKA Roots is providing the
            opportunity for the youth to study innovative courses in association with ICT Academy, an initiative of the
            Government of India in collaboration with state governments and industries.
        </blockquote>
    </div>
</div>