<div class="container">
    <div class="row">
        <div class="col" *ngFor="let item of courses">
            <div class="card" style="width: 18rem;">
                <img src={{item.image_url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><i class="fa fa-briefcase"
                                style="font-size:20px;"></i> Category: {{item.category}}</li>
                        <li class="list-group-item list-group-item-success"><i class="fa fa-building"
                                style="font-size:20px;"></i> Internship Partner: {{item.internship_partner}}</li>
                        <li class="list-group-item list-group-item-success"><i class="fa fa-clock-o"
                                style="font-size:20px;"></i> Duration: {{item.duration}}</li>
                        <li class="list-group-item list-group-item-success"><i class="fa fa-inr"
                                style="font-size:20px;"></i> Fee: {{item.fee}}</li>
                    </ul>
                    <div id={{item._id}} class="description">
                        <p class="card-text" [innerHTML]="item.description"></p>
                    </div>
                    <a (click)="expandText(item._id)" class="blockquote-footer">Show more..</a>
                </div>
                <a type="button" href="{{'registercourse/' + item._id}}" class="btn btn-danger">Apply</a>
            </div>
        </div>
    </div>
</div>