<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid">
        <a class="navbar-header" href="home">
            <a class="navbar-brand" href=""><span class="fa fa-home"></span><span class="link"> Home</span></a>
        </a>
        <button type="button" class="btn navbar-toggle collapsed d-block d-md-none" (click)="responsiveDropdown()"
            aria-expanded="false">
            <i id="arrowToggle" class="fas fa-arrow-down"></i>
        </button>
        <div class="collapse navbar-collapse" [collapse]="isCollapsed">
            <div class="navbar-nav">
                <a class="nav-link" href="course"><span class="fa fa-university"></span><span class="link">
                        Courses</span></a>
                <a class="nav-link" href="events"><span class="fas fa-calendar-week"></span><span class="link">
                        Events</span></a>
                <a class="nav-link" href="about"><span class="fas fa-address-card"></span><span class="link"> About
                        Us</span></a>
                <a class="nav-link" href="login"><span class="fas fa-sign-in-alt"></span><span class="link">
                        Login</span></a>
                <a class="nav-link" href="https://retail.ictkerala.org/"><span class="fas fa-user-graduate"></span><span
                        class="link">
                        Paatshala</span></a>
                <a class="nav-link" href="admin/course" *ngIf="isAuth"><span class="fas fa-user-graduate"></span><span
                        class="link">
                        Admin</span></a>
                <a class="nav-link" href="logout" *ngIf="isAuth"><span class="fas fa-sign-out-alt"></span><span
                        class="link">
                        Logout</span></a>
            </div>
        </div>

    </div>
</nav>