a {
    color: white;
}

i {
    font-size: 20px;
    color: white;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

nav {
    margin-bottom: 10px;
}

/*
<button class="spin circle">Paatshala</button>
*/
/* spin circle */
button {
    background: none;
    border: 0;
    box-sizing: border-box;
    margin: 1em;
    box-shadow: inset 0 0 0 2px #f45e61;
    color: white;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
  }
  button::before, button::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  
  .spin {
    width: 5em;
    height: 5em;
    padding: 0;
  }
  .spin:hover {
    color: #0eb7da;
  }
  .spin::before, .spin::after {
    top: 0;
    left: 0;
  }
  .spin::before {
    border: 2px solid transparent;
  }
  .spin:hover::before {
    border-top-color: #0eb7da;
    border-right-color: #0eb7da;
    border-bottom-color: #0eb7da;
    transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  }
  .spin::after {
    border: 0 solid transparent;
  }
  .spin:hover::after {
    border-top: 2px solid #0eb7da;
    border-left-width: 2px;
    border-right-width: 2px;
    transform: rotate(270deg);
    transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
  }
  
  .circle {
    border-radius: 100%;
    box-shadow: none;
  }
  .circle::before, .circle::after {
    border-radius: 100%;
  }
  