<div class="container">
    <p class="display-4">Add a new course</p>

    <form [formGroup]="RegisterForm">
        <div class="form-group">
            <label for="courseName">Course Name</label>
            <input type="text" formControlName="title" class="form-control">
        </div>

        <div class="form-group">
            <label for="coursePrerequisite">Category</label>
            <input type="text" formControlName="category" class="form-control">
        </div>
        <div class="form-group">
            <label for="coursePrerequisite">Criteria</label>
            <input type="text" formControlName="criteria" class="form-control">
        </div>
        <div class="form-group">
            <label for="coursePrerequisite">Fee</label>
            <input type="number" formControlName="fee" class="form-control">
        </div>
        <div class="form-group">
            <label for="coursePrerequisite">Duration</label>
            <input type="number" formControlName="duration" class="form-control">
        </div>
        <div class="form-group">
            <label for="coursePrerequisite">Internship partner</label>
            <input type="text" formControlName="internship_partner" class="form-control">
        </div>
        <input type="file" (change)="fileChangeEvent($event)">
        <div class="form-group">
            <!--rich text-->
            <label for="coursePrerequisite">Description</label>
            <div class="container-fluid">
                <angular-editor formControlName="description"></angular-editor>
            </div>
        </div>
        <div class="btn bg-danger text-light mb-3" (click)="checkDetails()">Add</div>
    </form>

</div>