<div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">

    <div class="container">
        <div class="info">
            <h1>Admin Login Form</h1>
        </div>
    </div>
    <div class="form">
        <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg" /></div>
        <form class="login-form" [formGroup]="LoginForm" (ngSubmit)="checkCredentials()">
            <input type="text" class="form-control" formControlName="username" id="staticUsername"
                placeholder="Username">
            <small class="mt-2 fs-6 text-center text-light" *ngIf="LoginForm.get('username')!.hasError('required')">
                Username is required <i class="fas fa-exclamation-circle"></i>
            </small>
            <input type="password" class="form-control" formControlName="password" id="inputPassword"
                placeholder="Password">
            <small class="mt-2 fs-6 text-center text-light" *ngIf="LoginForm.get('password')!.hasError('required')">
                Password is required <i class="fas fa-exclamation-circle"></i>
            </small>
            <!---->
            <button type="submit" [disabled]="!LoginForm.valid" class="btn btn-success mt-3">Login</button>

            <p class="message">Not registered? <a href="#">Create an account</a></p>
        </form>
    </div>
</div>