<form class="form">
    <h2>CONTACT US</h2>
    <p type="Name:"><input placeholder="Write your name here.."></p>
    <p type="Email:"><input placeholder="Let us know how to contact you back.."></p>
    <p type="Message:"><input placeholder="What would you like to tell us.."></p>
    <button type="submit">Reach out</button>
</form>