<div class="container">
    <p class="display-4">Add a new event</p>

    <form [formGroup]="RegisterForm">
        <div class="form-group">
            <label for="courseName">Event Name</label>
            <input type="text" formControlName="name" class="form-control">
        </div>

        <div class="form-group">
            <label for="coursePrerequisite">Organizer</label>
            <input type="text" formControlName="organizer" class="form-control">
        </div>
        <div class="form-group">
            <label for="coursePrerequisite">Contact</label>
            <input type="text" formControlName="contact" class="form-control">
        </div>
        <div class="form-group">
            <label for="coursePrerequisite">Fee</label>
            <input type="number" formControlName="fee" class="form-control">
        </div>
        <div class="form-group">
            <label for="coursePrerequisite">Duration</label>
            <input type="number" formControlName="duration" class="form-control">
        </div>
        <input type="file" (change)="fileChangeEvent($event)">
        <div class="form-group">
            <!--rich text-->
            <label for="coursePrerequisite">Description</label>
            <div class="container-fluid">
                <angular-editor formControlName="description"></angular-editor>
            </div>
        </div>
        <div class="btn bg-danger text-light mb-3" (click)="checkDetails()">Add</div>
    </form>

</div>