body{
    background: #fafafa;
  }
  .mat-card{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    padding: 24px;
    border-radius: 2px;
    background: #fff;
    margin-top: 100px;
  }
.nav-tabs>li>a{
border-radius: 0px !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
line-height: 40px;
padding: 0px;
margin: 0px;
border: 0px;
background: transparent;
}
.tab-content{
border: 1px solid #ddd;
padding-top: 15px;
width: 100%;
display: inline-block;
background: #fff;
min-height: 250px;
padding-bottom: 20px;
}
ul.nav-tabs {
border: 0px !important;
margin: 0px;
border-bottom: 1px solid #c0c0c0 !important;
font-size: 0;
position: relative;
padding: 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background: #f1f1f1;
}
ul.nav-tabs li {
width: 140px;
font-size: 16px;
text-align: center;
position: relative;
overflow: hidden;
cursor: pointer;
height: 40px;
}
ul.nav-tabs .slider {
position: absolute !important;
bottom: 0;
height: 2px !important;
background: #3F51B5;
transition: all 0.5s;
z-index: 9;
}
ul.nav-tabs .ripple {
width: 0;
height: 0;
border-radius: 50%;
background: #3F51B5;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
position: absolute;
opacity: 1;
}
ul.nav-tabs .rippleEffect {
-webkit-animation: rippleDrop 0.6s linear;
animation: rippleDrop 0.6s linear;
}
@-webkit-keyframes 
rippleDrop {  100% {
-webkit-transform: scale(2);
transform: scale(2);
opacity: 0.2;
}
}
@keyframes 
rippleDrop {  100% {
-webkit-transform: scale(2);
transform: scale(2);
opacity: 0.2;
}
}
.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
background-color: transparent;
color: #000 !important;
}
ul.nav-tabs li.active{
background: #fff;
}
.tab-pane{
padding: 15px;
}