<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="mat-card">
                <ul class=" nav nav-tabs ">
                    <li class="active"><a href="#Tab1" id="FromLink1" data-toggle="tab" aria-expanded="false">Basic</a>
                    </li>
                    <li class=""><a href="#Tab2" id="FromLink2" data-toggle="tab" aria-expanded="false">Information</a>
                    </li>
                    <li><a href="#Tab3" id="FromLink3" data-toggle="tab" aria-expanded="true">Settings</a></li>
                    <li class="slider"></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="Tab1">
                        <h2>Tab 1 Content</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                    </div>
                    <div class="tab-pane fade" id="Tab2">
                        <h2>Tab 2 Content</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                    </div>
                    <div class="tab-pane fade" id="Tab3">
                        <h2>Tab 3 Content</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>