<div class="container bg-secondary d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2>Event Registration Form</h2>
            </div>
            <div class="row clearfix">
                <div>
                    <form [formGroup]="RegisterForm" (ngSubmit)="checkDetails()">
                        <div class="row clearfix">
                            <div class="col_half">
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                    <input type="text" name="name" formControlName="firstname"
                                        placeholder="First Name" />
                                </div>
                            </div>
                            <div class="col_half">
                                <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                    <input type="text" name="name" formControlName="lastname" placeholder="Last Name"
                                        required />
                                </div>
                            </div>
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input type="email" name="email" formControlName="email" placeholder="Email" required />
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input type="text" name="phone" formControlName="phone" placeholder="Phone" required />
                        </div>
                        <button class="btn bg-danger text-light text-center" type="submit">Apply</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>