.container {
    padding-left: 80px;
    height: 100vh;
}

.list-group {
    box-shadow: 0px 11px 23px 5px rgba(0, 0, 0, 0.34);
  }
  .list-group-item {
    background-color: rgba(255, 255, 255, 0.7);
    border: 0;
  }
  .btn-toolbar {
    margin-top: 10px;
  }
  img {
    float: left;
    margin-right: 15px;
    height: 128px;
    width: 128px;
  }
  /* ==== SOME BOOTSTRAP MODS/STYLING ==== */
  .btn-default {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(0, 0, 0, 0.2);
  }
  .img-rounded,
  .btn,
  .label {
    border-radius: 6px;
  }
  .btn {
    padding: 6px 18px;
  }
  .dropdown-menu > li > a {
    color: #777;
  }
  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .dropdown-menu .divider {
    background-color: #555;
  }
  h3{
    text-transform: uppercase;
    font-weight: 700;
  }
