<div class="container">
    <ul class="list-group">
        <li class="list-group-item clearfix">
            <img class="img-responsive img-rounded" src="http://placehold.it/256/163a63" alt="" />
            <h3 class="list-group-item-heading">
                Item
            </h3>
            <p class="list-group-item-text lead">
                Item details.
            </p>
            <div class="btn-toolbar pull-right" role="toolbar">
                <a href="edit" class="btn btn-primary"><i class="far fa-edit"></i></a>
                <a href="delete" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </div>
        </li>
    </ul>
</div>