<div class="container">
    <p class="course-header">Courses</p>
    <a href="addcourse" class="mr-1 btn btn-success">Add Course <i class="fas fa-plus-circle"></i></a>
    <ul class=" list-group" *ngFor="let item of listCourses">
        <li class="">
            <p class="course-title">
                Course name: {{item.title}}
            </p>
            <div class="list-group-item-text lead">
                Category: {{item.category}}
                Duration: {{item.duration}}
            </div>
            <div class="mt-1 btn-toolbar pull-right" role="toolbar">
                <a href="{{'editcourse/' + item._id}}" class="mr-1 btn btn-primary"><i class="far fa-edit"></i></a>
                <a href="{{'removecourse/' + item._id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </div>
            <hr>

        </li>
    </ul>
    <p class="course-header">Course registrations</p>
    <ul class="list-group" *ngFor="let item of registeredCourses">
        <li class="">
            <p class="course-title">
                Course ID: {{item.course_id}}
            </p>
            <div class="list-group-item-text lead">
                Phone: {{item.phone}}
                Email: {{item.email}}
            </div>
            <div class="btn-toolbar pull-right" role="toolbar">
                <a href="{{'removecoursereg/' + item._id}}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </div>
            <hr>

        </li>
    </ul>
</div>